# python_programs:-

# Q(1) python program for sum two numbers:-

In [1]:
a=20
b=30
c=a+b
print(c)

50

In [2]:
num=10
num1=20
sum=num+num1
print("sum of give no:-",sum)

sum of give no:- 30

In [3]:
a=10
b=40
print("sum of given no:-",a+b)

sum of given no:- 50

### (2) with user-input:-

In [4]:
num1=float(input("enter first no:-"))
num2=float(input("enter second no:-"))
sum=num1+num2
print("sum of the no:-",sum)

enter first no:-12.5
enter second no:-34.5
sum of the no:- 47.0

## Q(2) python program to find the square root:-

# (1) using Exponentiotion:-(**)

In [5]:
num=64
sr=num**(1/2)
print("the squart root of the given no:-",sr)

the squart root of the given no:- 8.0

In [6]:
num=int(input("enter the no:-"))
sr=num**(0.5)
print("squart no is:- ",sr)

enter the no:-49
squart no is:-  7.0

# (2) using math module:-

In [7]:
import math
num=int(input("enter the no:-"))
sr=math.sqrt(num)
print("the square root of :-",sr)

enter the no:-125
the square root of :- 11.180339887498949

In [1]:
import math
sr=math.sqrt(64)
print(sr)

8.0

## Q(3) python program to calculate the area of a Triangle:-

In [8]:
height=float(input("enter the height of traingle:-"))
Base=float(input("enter the base of traingle:-"))
area = (1/2)*height*Base
print("the area of triangle:-",area)

enter the height of traingle:-12
enter the base of traingle:-5
the area of triangle:- 30.0

## Q(4) python program to solve Quadratic Equation:-

### Quadratic Equation formula:-ax**2 + bx + c = 0
### a, b and c are real numbers
### a! = 0

In [9]:
import cmath
a=int(input("enter a value:-"))
b=int(input("enter b value:-"))
c=int(input("enter c value:-"))
d= (b**2) - (4*a*c)                      # d is formula of "discriminant"
root1=(-b-cmath.sqrt(d))/(2*a)
root2=(-b+cmath.sqrt(d))/(2*a)
print("this is root1:",root1)
print("this is root2:",root2)
print("the rooots are", root1, "and" , root2)

enter a value:-12
enter b value:-5
enter c value:-6
this is root1: (-0.20833333333333334-0.6757197808427856j)
this is root2: (-0.20833333333333334+0.6757197808427856j)
the rooots are (-0.20833333333333334-0.6757197808427856j) and (-0.20833333333333334+0.6757197808427856j)

## Q(5) python program to Swap Two Variables:-

# (1) with using third variable:-

In [3]:
x=13
y=12
temp=x
print("the value of temp variable is",temp)
x=y
print("the value of x is",x)
y=temp
print("the value of y is", y)

the value of temp variable is 13
the value of x is 12
the value of y is 13

# (2) without using third variable:-

In [12]:
x=13
y=12
x,y=y,x
print("the value of x is:-",x)
print("the value of y is:-",y)

the value of x is:- 12
the value of y is:- 13

# Q(6) Python program to Generate a Random Number:-

### (1) using random module:-

In [7]:
import random
num=random.randint(0,10)
print(num)

7

# Q(7) python program to convert kilometers to Miles:-

### 1 Kilometer = 0.621371 Mile

In [14]:
km=float(input("enter your value in kms:-"))
miles = (0.621371)*km
print(km,"kms will be",miles,"miles")

enter your value in kms:-100
100.0 kms will be 62.137100000000004 miles

# Q(8) python program to convert celsius to fahrenheit:-

### 0' celsius = 32 fahrenheit
### (c*9/5)+32=F

In [15]:
celsius=int(input("enter temperature in celsius:-"))
fahrenheit = (celsius*(9/5))+32
print("the converted value is", fahrenheit,"fahrenheit")

enter temperature in celsius:-32
the converted value is 89.6 fahrenheit

## Q(9) python program to check if a number is positive,Negative or 0(zero) :-

### using conditional statements:

In [16]:
num=12
if num>0:
  print("it is positive number:-",num)
elif num ==0:
  print("it is Zero number:-",num)
else:
  print("it is Negative number:-",num)

it is positive number:- 12

## Q(10) python program to check if a Number is odd or Even:-

---

In [8]:
num=int(input("enter the number:-"))
if num%2==0:
  print("This is a even number",num)
else:
  print("This is odd number",num)

enter the number:-45
This is odd number 45

# Q(11) python program to check Leap year:-

# Normal year: 365
### Leap year: 366 ===> once in 4 years

In [19]:
year=int(input("enter the year:-"))
if (year % 400 ==0) and (year % 100 ==0):
  print(year, "is a leap year")
elif (year % 4 ==0) and (year % 100 != 0):
  print(year,"is a leap year")
else:
  print(year, ":is a normal year")

enter the year:-2023
2023 :is a normal year

# Q(12) python program to find the largest Among Three Numbers:-

In [20]:
num1=45
num2=20
num3=61
if (num1>num2) and (num1>num3):
  print(num1,"is largest number")
elif (num2>num1) and (num2>num3):
  print(num2,"is largest number")
else:
  print(num3,"is largest number")

61 is largest number

# Q(13) python program to check prime number:-

In [1]:
num=int(input("enter a number here: "))
if num == 1:
  print("it is not a prime number")
if num>1:
  for i in range(2,num):
    if num % i == 0:
      print("it is also not a prime number")
      break
  else:
       print("it is a prime number")

enter a number here: 45
it is also not a prime number

In [22]:

num1=int(input("enter the number:"))
if num1 ==1:
  print("not prime")
if num1>1:
  for i in range(2,num1):
    if num1 % i== 0:
        print("not prime")
        break
  else:
         print("prime")

enter the number:67
prime

In [11]:
x=1
def prime(num):
    for i in range(2,num):
        if num%i==0:
            x=0
            break
        else:
            x=1
    if x==0:
        print("not prime number")
    else:
        print("prime number")
num=int(input("enter a number here: "))
prime(num)

enter a number here: 67
prime number

# using while loop for finding the prime number:-

In [5]:
i=1
c=0
num=int(input("enter a number here: "))
while i<=num:
    if num%i==0:
        c+=1
    i+=1
    
if c==2:
    print(num,":prime number")
else:
    print(num," :not prime")
print(c)

enter a number here: 67
67 :prime number
2

In [6]:
i=2
c=0
num=int(input('enter a number here: '))
while i<=num/2:
    if num %2 ==0:
         c+=1
    i+=1
if c==2:
    print("prime")
else:
    print("not prime")
print(c)

enter a number here: 29
not prime
0

# Q(14) python program to print all prime number in an interval:-

In [2]:
lower=int(input("enter a lower limit:-"))
upper=int(input("enter a upper limit:-"))
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
        
      print(num)

enter a lower limit:-2
enter a upper limit:-53
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53

In [24]:
l=int(input("enter lower no:-"))
u=int(input("enter upper no:-"))
for n in range(l,u+1):
  if n>1:
    for i in range(2,num):
      if n%i==0:
        
        break
    else:
      print(n)

enter lower no:-50
enter upper no:-100
53
59
61
67
71
73
79
83
89
97

# Q(15) python program to find the factorial of a number:-

# (1) using for loop:-

In [25]:
num=int(input("enter the no:-"))
fact=1
if num<0:
  print("The factorial does not exist")
if num==0:
  print("The factorial of 0 is",1)
if num>0:
  for i in range(1,num+1):
    fact=fact*i
print("The factorial of the given no is:-",fact)

enter the no:-5
The factorial of the given no is:- 120

In [1]:
num=int(input("enter a number here: "))
fact=1
if num<0:
    print("not exist")
if num==0:
    print("factorial 1")
if num>0:
    for i in range(1,num+1):
        fact=fact*i
print("the factorial of the given num is",fact)

enter a number here: 6
the factorial of the given num is 720

In [26]:
n=int(input("enter the no:-"))
f=1
if n<0:
  print("factorial does not exixt")
if n==0:
  print("factorial o is",1)
if n>0:
  for j in range(1,n+1):
    f=f*j
print("the factorial is :-",f)

enter the no:-7
the factorial is :- 5040

# (2) using Recursion:-function ke ander fanction ko call krana recursion hota

In [27]:
def fact(a):
  if a==0:
    return 1
  else:
    return ((a)*fact(a-1))
num =int(input("enter a number here:"))
result=fact(num)
print("the factorial is given no is:",result)

enter a number here:5
the factorial is given no is: 120

In [28]:
def fact(x):
  if x==0:
    return 1
  else:
    return ((x)*fact(x-1))
n=int(input("enter a number here:-"))
r=fact(n)
print("the factorial no is:",r)

enter a number here:-6
the factorial no is: 720

# Q(16) python program to display the multiplication Table:-

# (1) with for loop:-

In [29]:
n=int(input("enter a number here:-"))
for i in range(1,11):
  print (n,"*",i ,"=",n*i)

enter a number here:-5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [30]:
n=7
for i in range(1,15):
  print(n,"x",i,"=",n*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98

# (2) with while loop:-

In [31]:
n=17
i=0
while i<=10:
  print(n,"X",i,"=",n*i)
  i+=1                        # (i=i+1)

17 X 0 = 0
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170

In [32]:
n=int(input("enter the no:-"))
i=2
while i<=11:
  print(n,"*",i,"=",n*i)
  i=i+1

enter the no:-19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190
19 * 11 = 209

# Q(17) python program to print the Fibonacci sequence:-

In [33]:
a=0
b=1
num=int(input("enter a no:-"))
if num==1:
  print(a)

else:
  print(a)
  print(b)
  for i in range(1,num+1):
    c=a+b
    a=b
    b=c
    print(c)

enter a no:-6
0
1
1
2
3
5
8
13

In [34]:
x=0
y=1
n=7
for i in range(1,n+1):
  z=x+y
  x=y
  y=z
  print(z,end=" ")

1 2 3 5 8 13 21

# Q(18) python program to check Armstrong Number:-

In [7]:
num=int(input("enter a number here:-"))
sum=0
temp=num
while temp>0:
  digit=temp%10
  cube=digit ** 3
  sum=sum+cube
  temp//=10
if sum==num:
  print("it is an armstrong number")
else:
  print("it is not an armstrong number")

enter a number here:-153
it is an armstrong number

In [36]:
num=int(input("enter a number here: "))
order = len(str(num))
sum=0
temp=num
while temp>0:
  digit=temp%10
  sum+=digit**order
  temp//=10
if sum==num:
  print("Armstrong No")
else:
  print("Not Armstrong No")

enter a number here: 123
Not Armstrong No

In [22]:
def armst(num):                         # verendr sir
    sum=0
    l=len(num)
    n=int(num)
    temp=n
    while n>=1:
        rem=n%10
        sum=sum+(rem**l)
        n=n//10
    if temp==sum:
        print("ARMSTRONG NUMBER")
    else:
        print("NOT ARMSTRONG NUMBER")
n=input("enter a number here: ")
armst(n)

enter a number here: 153
ARMSTRONG NUMBER

# Q(19) Python program to find Armstrong Number in an Interval:-

In [40]:

lower=int(input("enter a lower number:-"))
upper=int(input("enter a upper number:-"))

for num in range(lower,upper+1):
  order=len(str(num))
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum+=digit**order
    temp//=10
  if sum== num:
    print(num)

enter a lower number:-1
enter a upper number:-50
1
2
3
4
5
6
7
8
9

In [38]:
l=int(input("enter a lower no:-"))
u=int(input("enter a upper no:-"))

for num in range(l,u+1):
  order=len(str(num))
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum+= digit**order
    temp//=10
  if sum==num:
    print("Armstrong no:",num)

enter a lower no:-50
enter a upper no:-1000
Armstrong no: 153
Armstrong no: 370
Armstrong no: 371
Armstrong no: 407

# Q(20) python program to find the sum of Natural Numbers:- positive integers

In [43]:
num=int(input("enter a number here:- "))

if num<0:                                        # (6= 6+5+4+3+2+1===>>21)
  print("please enter a positive no")
else:
  sum=0
  while num>0:
    sum+=num
    num-=1
  print("sum of natural no",sum)

enter a number here:- 6
sum of natural no 21

# Q(21) python program to Display power of 2 using Anonymous Function/lambda function (for using tempary function):-
###(a) map==(har function ke uper itraible ko lga ke dega),(b) list==(list format me likhne ke liye)

# using list,tuple,map,lambda function and range:-

In [45]:
nterms= int(input("enter a number of terms here:-"))

result=list(map(lambda x: 2 ** x,range(nterms+1)))
print(result)

enter a number of terms here:-6
[1, 2, 4, 8, 16, 32, 64]

In [46]:
n=int(input("enter a no:="))
r=list(map(lambda x: 3** x, range(n+1)))
print(r)

enter a no:=5
[1, 3, 9, 27, 81, 243]

In [47]:
n=10
r=tuple(map(lambda x: 5 ** x,range(n+1)))
print(r)

(1, 5, 25, 125, 625, 3125, 15625, 78125, 390625, 1953125, 9765625)

# using for loop:-

nterms=int(input("enter a number of terms:-"))
for i in range(nterms+1):
     print("the value of 2 raised to power",i,"is=>>", result[i])

# Q(22) python program to find Number Divisible by Another Number:-(

# (1) for loop & conditional statement:-

print=("The numbers divisible ny 13 are:")
for x in range(1,100):
   if x%13 == 0:
      print(x)

# (2)using lambda function(annonymes/tempary function) and filter()=(esse jo jo bhi condition satisfy ho re h use filter karke output la dega:-

In [9]:
l=[39,48,26,98,33,97,87,47]
result=list(filter(lambda x:  x % 13 == 0 ,l))
print("The numbers divisible by 13 are",result)

The numbers divisible by 13 are [39, 26]

# Q (23) python program for Binary,octal and Hexadecimal

In [3]:
decimal=int(input("enter a number here:"))

print("the conversion of decimal number", decimal,"is: ")
print(oct(decimal),"in octal")
print(bin(decimal),"in binary")
print(hex(decimal),"in hexadecimal")

enter a number here:12
the conversion of decimal number 12 is:
0o14 in octal
0b1100 in binary
0xc in hexadecimal

# Q(24) python program to find ASCII value of character

### use of ord function:-

In [4]:
char="a"
print("the ASCII value of ",char,"is:-", ord(char))

the ASCII value of  a is:- 97

In [5]:
char="%"
print(ord(char))

37

# Q(25) python program to find HCF or GCD

In [6]:
def findHCF(x,y):
    if x>y:
        smaller = y
    else:
        smaller = x
    for i in range(1,smaller+1):
        if ((x%i==0) and (y % i ==0)):
            hcf = i
    return hcf
print("the hcf of the given two number is",findHCF(12,30))

the hcf of the given two number is 6

# Q(26) python program to find the factors of a number

In [10]:
num=int(input("enter a number here: "))
for i in range (1,num+1):
    if num%i==0:
        print(i, end=" , ")

enter a number here: 300
1 , 2 , 3 , 4 , 5 , 6 , 10 , 12 , 15 , 20 , 25 , 30 , 50 , 60 , 75 , 100 , 150 , 300 ,

In [9]:
num = int(input("enter a no :-"))
for i in range (1,num+1):
    if num%i==0:
        print(i)

enter a no :-30
1
2
3
5
6
10
15
30

# Q(27) python program to make a simple calculator:-

In [11]:
print("~~~~~~~~~~~~~~~ Mini Calculator ~~~~~~~~~~~~~~")

num1=float(input("enter first number here:- "))
num2=float(input("enter second number here:- "))

print("prees 1 for addition \npress 2 for subtraction \nprees 3 for multiplication \npress 4 for division")

choice=int(input("enter your choice from 1-4:-  "))

if choice == 1:
    print("The addition of two no:-", num1 + num2)
elif choice == 2:
        print("The subtraction of two no:- ", num1 - num2)
elif choice == 3:
        print("The multiplication of two no:- ", num1 * num2)
elif choice == 4:
        print("The division of two  no:- ", num1 / num2)
else:
    print("invalid input")

~~~~~~~~~~~~~~~ Mini Calculator ~~~~~~~~~~~~~~
enter first number here:- 30
enter second number here:- 49
prees 1 for addition
press 2 for subtraction
prees 3 for multiplication
press 4 for division
enter your choice from 1-4:-  3
The multiplication of two no:-  1470.0

In [12]:
num1=eval(input("enter first number:- "))
num2=eval(input("entersecond number:- "))

operator=input('+,-,*,/' "enter the operator")
if operator=="+":
    print(num1+num2)
elif operator=="-":
    print(num1-num2)
elif operator=="*":
    print(num1*num2)
elif operator=="/":
    print(num1/num2)
elif operator != "+,-,*,/":
    print("invalid operator")
else:
    print("invalid operator")

enter first number:- 1234
entersecond number:- 1654
+,-,*,/enter the operator2
invalid operator

In [1]:
print("~~~~~~~~~~~~~~~ Mini Calculator ~~~~~~~~~~~~~~")

num1=float(input("enter first number here:- "))
num2=float(input("enter second number here:- "))

print("prees 1 for addition \npress 2 for subtraction \nprees 3 for multiplication \npress 4 for division")

~~~~~~~~~~~~~~~ Mini Calculator ~~~~~~~~~~~~~~
enter first number here:- 3
enter second number here:- 4
prees 1 for addition
press 2 for subtraction
prees 3 for multiplication
press 4 for division

In [2]:
print("~~~~~~~~~~~~~~~ Mini Calculator ~~~~~~~~~~~~~~")

num1=float(input("enter first number here:- "))
num2=float(input("enter second number here:- "))

print("prees 1 for addition \npress 2 for subtraction \nprees 3 for multiplication \npress 4 for division")

choice=int(input("enter your choice from 1-4:-  "))

if choice == 1:
    print("The addition of two no:-", num1 + num2)
elif choice == 2:
        print("The subtraction of two no:- ", num1 - num2)
elif choice == 3:
        print("The multiplication of two no:- ", num1 * num2)
elif choice == 4:
        print("The division of two  no:- ", num1 / num2)
else:
    print("invalid input")

~~~~~~~~~~~~~~~ Mini Calculator ~~~~~~~~~~~~~~
enter first number here:- 12
enter second number here:- 4
prees 1 for addition
press 2 for subtraction
prees 3 for multiplication
press 4 for division
enter your choice from 1-4:-  4
The division of two  no:-  3.0

# Q(28) python program to shuffle Deck of card:-

In [13]:
import random,itertools
deck = list(itertools.product(range(1,14),["spade","club","Hearts","Diamond"]))
print(deck)

[(1, 'spade'), (1, 'club'), (1, 'Hearts'), (1, 'Diamond'), (2, 'spade'), (2, 'club'), (2, 'Hearts'), (2, 'Diamond'), (3, 'spade'), (3, 'club'), (3, 'Hearts'), (3, 'Diamond'), (4, 'spade'), (4, 'club'), (4, 'Hearts'), (4, 'Diamond'), (5, 'spade'), (5, 'club'), (5, 'Hearts'), (5, 'Diamond'), (6, 'spade'), (6, 'club'), (6, 'Hearts'), (6, 'Diamond'), (7, 'spade'), (7, 'club'), (7, 'Hearts'), (7, 'Diamond'), (8, 'spade'), (8, 'club'), (8, 'Hearts'), (8, 'Diamond'), (9, 'spade'), (9, 'club'), (9, 'Hearts'), (9, 'Diamond'), (10, 'spade'), (10, 'club'), (10, 'Hearts'), (10, 'Diamond'), (11, 'spade'), (11, 'club'), (11, 'Hearts'), (11, 'Diamond'), (12, 'spade'), (12, 'club'), (12, 'Hearts'), (12, 'Diamond'), (13, 'spade'), (13, 'club'), (13, 'Hearts'), (13, 'Diamond')]

In [16]:
import random,itertools

deck= list(itertools.product(range(1,14),["spade","club","Hearts","Diamond"]))
random.shuffle(deck)
print(deck)

[(9, 'spade'), (2, 'Hearts'), (3, 'club'), (6, 'club'), (2, 'spade'), (8, 'club'), (8, 'spade'), (11, 'Diamond'), (7, 'Diamond'), (5, 'Hearts'), (4, 'Hearts'), (6, 'Diamond'), (13, 'club'), (1, 'Hearts'), (12, 'club'), (11, 'Hearts'), (9, 'club'), (13, 'Hearts'), (12, 'spade'), (3, 'spade'), (12, 'Hearts'), (1, 'Diamond'), (10, 'club'), (1, 'spade'), (13, 'spade'), (11, 'club'), (5, 'Diamond'), (8, 'Diamond'), (6, 'Hearts'), (10, 'spade'), (3, 'Hearts'), (1, 'club'), (10, 'Hearts'), (2, 'club'), (2, 'Diamond'), (11, 'spade'), (8, 'Hearts'), (5, 'spade'), (3, 'Diamond'), (12, 'Diamond'), (7, 'spade'), (5, 'club'), (7, 'Hearts'), (4, 'club'), (9, 'Hearts'), (4, 'Diamond'), (4, 'spade'), (6, 'spade'), (7, 'club'), (9, 'Diamond'), (10, 'Diamond'), (13, 'Diamond')]

In [17]:
import random,itertools
deck=list(itertools.product(range(1,14),["spade","clib","Hearts","Diamond"]))
random.shuffle(deck)
print(deck)

for i in range(5):
    print(deck[i][0], "of", deck[i][1])

[(5, 'spade'), (1, 'Diamond'), (5, 'clib'), (6, 'spade'), (13, 'Diamond'), (13, 'Hearts'), (3, 'Hearts'), (1, 'spade'), (2, 'clib'), (10, 'Diamond'), (1, 'Hearts'), (4, 'clib'), (4, 'Hearts'), (9, 'Diamond'), (13, 'spade'), (13, 'clib'), (3, 'clib'), (8, 'spade'), (7, 'clib'), (12, 'spade'), (11, 'Hearts'), (7, 'Diamond'), (2, 'Diamond'), (12, 'clib'), (9, 'spade'), (6, 'Hearts'), (10, 'spade'), (5, 'Diamond'), (6, 'Diamond'), (3, 'spade'), (11, 'spade'), (8, 'Diamond'), (9, 'Hearts'), (11, 'clib'), (5, 'Hearts'), (11, 'Diamond'), (2, 'Hearts'), (10, 'Hearts'), (12, 'Hearts'), (4, 'spade'), (12, 'Diamond'), (7, 'spade'), (3, 'Diamond'), (10, 'clib'), (2, 'spade'), (8, 'clib'), (4, 'Diamond'), (6, 'clib'), (1, 'clib'), (7, 'Hearts'), (8, 'Hearts'), (9, 'clib')]
5 of spade
1 of Diamond
5 of clib
6 of spade
13 of Diamond

# Q(29) python program to Display Calender:-

In [19]:
import calendar
year=int(input("enter a year:-"))
month=int(input("enter a month:-"))
calendar=calendar.month(year,month)
print(calendar)

enter a year:-2023
enter a month:-2
   February 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28

In [1]:
import calendar
year=int(input("enter a year:-"))
month=int(input("enter a month:-"))
calendar=calendar.month(year,month)
print(calendar)

enter a year:-2023
enter a month:-1
    January 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

# Q(30) python program to Display Fibonacci sequence using Recursion:- (function ke andar function khud ko call karta h to use recursion kahte h)

In [8]:
def fibo (n):
    if n<=1:
        return n
    else:
        return fibo(n-1)+fibo(n-2)
n=int(input("enter a number here: "))
if n<=0:
    print("enter a positive number")
else:
    print("fibonacci sequence")
    for i in range(n):
        print(fibo(i))

enter a number here: -4
enter a positive number

In [11]:
def fibo(n):
    if n<=1:
        return n
    else:
        return fibo(n-1)+fibo(n-2)
n=int(input("enter a no : "))
if n<=0:
    print("enter a negative no")
else:
    print("enter a positive no ")
    for i in range(n):
        print(fibo(i))

enter a no : 7
enter a positive no
0
1
1
2
3
5
8

# Q(31)  python program to find sum of natural numbers using Recursion:-

In [12]:
def NNS(n):
    if n<=1:
        return n
    else:
        return (n)+NNS(n-1)
n=int(input("enter a number here: "))

if n<=0:
    print("enter a positive number: ")
else:
    print("The sum of natural upto given number number is ",NNS(n))

enter a number here: 5
The sum of natural upto given number number is  15

In [13]:
def nikku(n):
    if n<=1:
        return n
    else:
        return (n)+nikku(n-1)
n=int(input("enter a no:-"))
if n<=0:
    print(" enter a positive no")
else:
    print("sum of NNS: ",nikku(n))

enter a no:-8
sum of NNS:  36

# using map function by sir:-

In [3]:
n=123
res=0
while n>=1:
    rem=n%10
    res=res+rem
    n=n//10
print(res)

6

In [3]:
n=123
res=0
while n>2:
    rem=n%10
    res=res*10+rem
    n=n//10
print(res)

32

In [4]:
l,w=map(float,input("enter a no:-").split(" "))
area=l*w
print(area)

enter a no:-12.5 5.2
65.0

In [5]:
height,weight=map(float,input("enter two value:- ").split(" "))
area_traingle=(1/2)*(height)*(weight)
print(area_traingle)

enter two value:- 20.5 30.2
309.55

In [7]:
n=123
result=0
while n> 0:
    rem=n%10
    result=rem+result
    n=n//10
    print(result)
print( "total_result:-",result)

3
5
6
total_result:- 6

# pattern in python program

In [9]:
n=5
for i in range(0,n+1):
    print(i)

0
1
2
3
4
5

In [10]:
n=5
for i in range (0,n+1):
    print(i ,end=" @ ")

0 @ 1 @ 2 @ 3 @ 4 @ 5 @

In [11]:
n=5
for i in range(0,n+3):
    print("*")

*
*
*
*
*
*
*
*

In [14]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
print()

* * * * * * * * * * * * * * *

In [15]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [16]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [17]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [6]:
n=5
for i in range(0,n+1):
    for j in range(i-1):
        print("*",end=" ")
    print(i)

0
1
* 2
* * 3
* * * 4
* * * * 5

In [23]:
n=5
for i in range(0,n+1):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [26]:
n=5
for i in range(0,n+1):
    for j in range(i,n):
        print("*", end=" ")
    print()
for i in range(0,n+1):
    for j in range(i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*


*
* *
* * *
* * * *
* * * * *

In [30]:
n=5
for i in range(0,n+1):
    for j in range(i,n):
        print("*", end=" ")
    print()
for i in range(n+1):
    for j in range(i-1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*



*
* *
* * *
* * * *

In [6]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(0,n+1):
    for j in range(i,n):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [11]:
n=5
for i in range(0,n+1):
    for j in range(i):
        print("*",end=" ")
    print(n-1)

4
* 4
* * 4
* * * 4
* * * * 4
* * * * * 4

In [13]:
n=5
for i in range(0,n+1):
    for j in range(i-1):
        print("*")
    print(n)

5
5
*
5
*
*
5
*
*
*
5
*
*
*
*
5

In [16]:
n=5
for i in range(0,n+1):
    for j in range(i):
        print("*",n-1, end=" ")

* 4 * 4 * 4 * 4 * 4 * 4 * 4 * 4 * 4 * 4 * 4 * 4 * 4 * 4 * 4

In [25]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end="&")
    print(" ",end=" ")

*&*&*&*&*&  *&*&*&*&  *&*&*&  *&*&  *&

In [35]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print(" ",end="%")

* * * * *  %* * * *  %* * *  %* *  %*  %

In [10]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for i in range(i+1):
        print("*", end=" ")

          *         * *       * * *     * * * *   * * * * *

In [11]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [15]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [16]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [19]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

# Q(31) python program to  find sum of  Natural Number using Recursion:-

In [8]:
def NNS(n):
    if n<=1:
        return n
    else:
        return (n)+NNS(n-1)
n=int(input("enter a number here: "))

if n<=0:
    print("enter a positive number: ")
else:
    print("The sum of natural number upto given number is ",NNS(n))

enter a number here: 7
The sum of natural number upto given number is  28

In [ ]:
num=123
sum=0
while num>=0:
    sum+=num%10
    num//=10
print(sum)

num=123
sum=0
while num>=0:
    sum+=num%10
    num//=10
print(sum)

# Q(32) python program to find Factorial of Number using Recursion:-

In [7]:
def fact(n):
    if n==1:
        return 1
    else:
        
        return (n*fact(n-1))
n =int(input("enter a number here:- "))
if n<=0:
    print("factorial of number less than 1 does not exist")
else:
    print("factorial of given number is: ",fact(n))

enter a number here:- 6
factorial of given number is:  720

# Q(33) python program to convert Decimal to Binary uisng Recursion:-

In [33]:
def convertbinary(n):
    if n >=1:
        convertbinary(n//2)
        print(n%2, end="")
print("the binary of the given number is: ")
convertbinary(10)

the binary of the given number is:
1010

In [37]:
def b(n):
    if n>=1:
        b(n//2)
        print(n%2, end="")
print(" :the binary of the number is:",b(10))

1010 :the binary of the number is: None

In [38]:
def b(n):
    if n>=1:
        b(n//2)
        print(n%2, end="")
print("the binary of the given number is: ")
b(32)

the binary of the given number is:
100000

# Q(34) python program to Add Two Matrices:-

In [42]:
a=[[5,6,8],
   [7,3,2],
   [8,5,1]]
b=[[8,7,6],
   [5,4,3],
   [2,1,4]]
result=[[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(len(a)):
    for j in range(len(a[0])):
        result[i][j] = a[i][j] +b [i][j]
print(result)

[[13, 13, 14], [12, 7, 5], [10, 6, 5]]

In [53]:
a=[[1,2,3],
   [4,5,6],
   [7,8,9]]

b=[[9,8,7],
   [6,5,4],
   [3,2,1]]
result=[[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(len(a)):
    for j in range(len(a[0])):
        result[i][j] = a[i][j] + b[i][j]
    
for r in result:
    print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

# Q(35) python program to Transpose A Matrix:-

## using for loop:-

In [55]:
A = [[1,2,3],
     [4,5,6]]
T = [[0,0],
     [0,0],
     [0,0]]

for i in range(len(A)):
    for j in range(len(A[0])):
        T[j][i] = A[i][j]
        
print(T)

[[1, 4], [2, 5], [3, 6]]

In [56]:
A = [[1,2,3],
     [4,5,6]]
T = [[0,0],
     [0,0],
     [0,0]]

for i in range(len(A)):
    for j in range(len(A[0])):
        T[j][i] = A[i][j]
        
for i in T:
    print(i)

[1, 4]
[2, 5]
[3, 6]

##  using List comprehension:-

In [59]:
A = [[1,2,3],
     [4,5,6]]

T = [[A[j][i] for j in range(len(A))] for i in range(len(A[0]))]

for i in T:
    print(i)

[1, 4]
[2, 5]
[3, 6]

In [60]:
q= [[3,2,4,5],
    [6,7,8,9]]

t= [[q[j][i] for j in range(len(q))] for i in range(len(q[0]))]

for j in t:
    print(j)

[3, 6]
[2, 7]
[4, 8]
[5, 9]

# Q(36) python program to Multiply Two Matrices:-

In [68]:
A =[[1,2,3],
    [4,5,6],
    [4,2,5]]

B =[[3,4,2,1],
    [5,6,3,2],
    [3,2,1,4]]

Result= [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

for i in range(len(A)):
    for j in range(len(B[0])):
        for k in range(len(B)):
            Result[i][j] += A[i][k] * B[k][j]
            
for i in Result:
    print(i)

[22, 22, 11, 17]
[55, 58, 29, 38]
[37, 38, 19, 28]

# Q(37) python program to check whether a string is palindrom or not:-

In [7]:
a= input("enter a word here: ")
revers =a[::-1]
if a==revers:
    print("it is a palindrom")
else:
    print("it is not a palindrom")

enter a word here: madam
it is a palindrom

In [8]:
a= input("enter a word here: ")
revers =a[::-1]
if a==revers:
    print("it is a palindrom")
else:
    print("it is not a palindrom")

enter a word here: hello
it is not a palindrom

In [24]:
def palindrom(num):              # verendr sir
    rem=0
    temp=num
    reverse=0
    while num>=1:
        rem=num%10
        reverse=(reverse*10)+rem
        num=num//10
    if temp==reverse:
        print("palindrom")
    else:
        print("not palindrom")
num=int(input("enter a number here: "))
palindrom(num)

enter a number here: 1221
palindrom

# Q(38) python program to Remove Punctuations from a string:-

## punctuations==>  () , {},  -,  _ , ", ' , =, !, < , >

## USING FOR LOOP:-

In [13]:
puncuation ='''!@#$%^&*(){}[]-_<>~\/;.,:"?'''
string =input("enter anything here: ")
empty_str =""

for i in string:
    if i not in puncuation:
        empty_str +=i
print(empty_str)

enter anything here: Hello!!!! how are you????? i am fine........
Hello how are you i am fine

# Q(39) python program to sort words in Alphabetic Order:-

In [20]:
a = input("enter something here: ")
w=a.split()                                  # invetet deta h
#print(w)
for i in range(len(w)):
    w[i] =w[i].lower()                        # small later me convert karne ke liye
#print(w)
w.sort()                                      # alphabatic order me deta h
#print(w)

for i in w:
    print(i)

enter something here: HARRY POTTER AND THE GOBLET OF FIRE
and
fire
goblet
harry
of
potter
the

# Q(40) python program to illustrate Different set Operations:-

## (1) union(|) , (2) intersection(&) , (3) Difference(-) , (4) Symmentric Difference(^)

In [3]:
A = {1,2,3,6,8,9}
B = {3,4,5,6,7,8}

print("The union is:- ",A|B)
print("The intersection is:- ",A&B)
print("The Difference is:- ",A-B)
print("The symmentric difference is:- ",A^B)

The union is:-  {1, 2, 3, 4, 5, 6, 7, 8, 9}
The intersection is:-  {8, 3, 6}
The Difference is:-  {1, 2, 9}
The symmentric difference is:-  {1, 2, 4, 5, 7, 9}

# Q(41) python program to count the Number of Each vowel:-

## using Dictionary:-

In [5]:
a= "Harry potter and the prisoner of Azkaban"
vowels = "aeiou"
a = a.casefold()                                 # yha first later small bna deta h
print(a)
count = {}.fromkeys(vowels,0)
print(count)

for char in a:
    if char in count:
        count[char]+=1
print(count)

harry potter and the prisoner of azkaban
{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}
{'a': 5, 'e': 3, 'i': 1, 'o': 3, 'u': 0}

## using list and Dictionary comprehen:-

In [6]:
a = "Harry potter and the prisoner of Azkaban"
vowels = "aeiou"
a=a.casefold()
count = {key:sum([1 for char in a if char == key]) for key in vowels}
print(count)

{'a': 5, 'e': 3, 'i': 1, 'o': 3, 'u': 0}